.env
.env.*
!.env.example

.git_backup*/

node_modules/

data/
**/data/*.json

.vs/
.vscode/
bin/
obj/

*.log
*.user
*.suo

Bai1/PhamCongDuc_RestAPI_Customer/PhamCongDuc_RestAPI_Customer/appsettings.json
